name: FreeGameHost-Renew-Bot
on:
  schedule:
    - cron: "0 * * * *"   # Cada hora
  workflow_dispatch:
jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install Puppeteer
        run: npm install puppeteer
      - name: Run Bot
        run: node bot.js
        env:
          EMAIL: ${{ secrets.EMAIL }}
          PASSWORD: ${{ secrets.PASSWORD }}
